<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>
    <%=title%>
  </title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <%for(i=0;i<nav.length;i++){%>
            <li>

              <a href="<%=nav[i].link%>">
                <%=nav[i].name%>
              </a>
            </li>
            <%}%>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i
                    class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left"
                  placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Add New
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12">


              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div>
    </div><!-- /cont -->

  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="panel">
          <div class="panel-body">



            <!--/stories-->


            <select name="state" id="state">
              <option value="sel">Select One</option>
              <option value="aut">Add New Author</option>
              <option value="book">Add New Book</option>
            </select>


            <!-- --------------------------------------------------         -->
            <form id="form1" action="#">
              <div class="box1">
                <div class="textbox">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  <input type="text" id="name" placeholder="Book Name" valu>
                  <i id="inames" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id="asd1" >Error Message</small>
                </div>
                <div class="textbox">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <input type="text" id="aname" placeholder="Author Name" name="Username" valu>
                  <i id="iemail" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id ="asd2">Error Message</small>
                </div>
                <div class="textbox">
                  <i class="fa fa-sticky-note" aria-hidden="true"></i>
                  <input type="text" id="gname" placeholder="Genre">
                  <i id="iphone" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id="asd3" >Error Message</small>
                </div>

                <div class="textbox" style="border-color: transparent; height: 100px;">
                  Select Image:<br><br>
                  <input type="file" id="img" name="img" accept="image/*">
                </div>

                <input class="buttons" onclick="resetcolor()" type="button" value="Submit">
    <input type="button" class ="aa"  value="Reset"  >

              </div>
            </form>
            <!-- ------------------------------------------------------- -->

            <form id="form2" action="#">
              <div class="box1">
                <div class="textbox">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <input type="text" id="auname" placeholder="Author Name" valu>
                  <i id="iinames" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id="asd11">Error Message</small>
                </div>

                <div class="textbox">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <input type="text" id="bname" placeholder="Book Name" name="Username" valu>
                  <i id="iiemail" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id="asd22">Error Message</small>
                </div>

                <div class="textbox">
                  <i class="fa fa-sticky-note" aria-hidden="true"></i>
                  <input type="text" id="gename" placeholder="Genre">
                  <i id="iiphone" class="fa fa-check-circle" style="visibility: hidden;" aria-hidden="true"></i>
                  <br> <small id="asd33">Error Message</small>
                </div>

                <div class="textbox" style="border-color: transparent; height: 100px;">
                  Select Image:<br><br>
                  <input type="file" id="img" name="img" accept="image/*">
                </div>

                <input class="buttonss" onclick="resetcolor()" type="button" value="Submit">
                <input class ="ab"type="reset" value="Reset"  >

              </div>

            </form>







            <!--/stories-->


            <!-- <a  href="/" class="btn btn-primary pull-right btnNext">More <i
                class="glyphicon glyphicon-chevron-right"></i></a>
 -->

          </div>
        </div>



      </div>
      <!--/col-12-->
    </div>
  </div>


  <hr>



  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">

        <h1>Follow Us</h1>
        <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
          <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>

        </div>
        <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a
              href="http://www.bootply.com">Bootply</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script>
    $("#form1").hide();
    $("#form2").hide();
    $("#state").change(function () {
      stateChange($(this).val());

    });
    function stateChange(stateValue) {
      $("form").hide();
      switch (stateValue) {
        case 'aut': $("#form2").show(); break;
        case 'book': $("#form1").show();
      }
    }




  </script>



  <script>
    let names = document.getElementById("name");
    let anames = document.getElementById("aname");
    let gnames = document.getElementById("gname");

    let aunames = document.getElementById("auname");
    let bnames = document.getElementById("bname");
    let genames = document.getElementById("gename");
    let form = document.querySelector("form");

    
      // document.getElementById("msg").style.visibility="hidden";
      // document.getElementById("inames").style.visibility = "hidden";
      // document.getElementById("iinames").style.visibility = "hidden";
      // document.getElementById("iiemail").style.visibility = "hidden";

      // document.getElementById("iemail").style.visibility = "hidden";

      // document.getElementById("iphone").style.visibility = "hidden";
      // document.getElementById("iiphone").style.visibility = "hidden";

    


    function validateInput() {
      // check username is empty 
      if (names.value.trim() === "") {
        onError(names, "Book name cannot be empty");
      }
      else {
        if (!isValidNames(names.value.trim())) {
          onError(names, "Enter Book Name");
        } else {
          document.getElementById("inames").style.visibility = "visible";
          onSuccess(names);
        }
      }

      // ----------------------------------------------

      if (anames.value.trim() === "") {
        onError(anames, "Author name cannot be empty");
      }
      else {
        if (!isValidName(anames.value.trim())) {
          onError(anames, "Enter author name");
        } else {
          document.getElementById("iemail").style.visibility = "visible";
          onSuccess(anames);
        }
      }

      // -----------------------------------

      if (gnames.value.trim() === "") {
        onError(gnames, "Genre cannot be empty");
      }
      else {
        if (!isValidName(gnames.value.trim())) {
          onError(gnames, "Enter a genre");
        } else {
          document.getElementById("iphone").style.visibility = "visible";
          onSuccess(gnames);
        }
      }
    }
    // ------------------------

    function validateInputs() {
      // check username is empty 
      if (aunames.value.trim() === "") {
        onError(aunames, "Author name cannot be empty");
      }
      else {
        if (!isValidName(aunames.value.trim())) {
          onError(aunames, "Enter Author Name");
        } else {
          document.getElementById("iinames").style.visibility = "visible";
          onSuccess(aunames);
        }
      }

      // ----------------------------------------------

      if (bnames.value.trim() === "") {
        onError(bnames, "Book name cannot be empty");
      }
      else {
        if (!isValidNames(bnames.value.trim())) {
          onError(bnames, "Enter book name");
        } else {
          document.getElementById("iiemail").style.visibility = "visible";
          onSuccess(bnames);
        }
      }

      // -----------------------------------

      if (genames.value.trim() === "") {
        onError(genames, "Genre cannot be empty");
      }
      else {
        if (!isValidName(genames.value.trim())) {
          onError(genames, "Enter a genre");
        } else {
          document.getElementById("iiphone").style.visibility = "visible";
          onSuccess(genames);
        }
      }





    }

    // document.getElementById("state")
    // .addEventListener("click",(event)=>{
    //   event.preventDefault();
    //   document.querySelector("form").reset();
    // });

    document.querySelector("input.buttons")
      .addEventListener("click", (event) => {
        event.preventDefault();
        validateInput();
      });
    document.querySelector("input.buttonss")
      .addEventListener("click", (event) => {
        event.preventDefault();
        validateInputs();
      });

      document.querySelector("input.aa")
      .addEventListener("click", (event) => {
        event.preventDefault();
        reset();
      });
      document.querySelector("input.ab")
      .addEventListener("click", (event) => {
        event.preventDefault();
        reset1();
      });

    function onSuccess(input) {
      let parent = input.parentElement;
      let messageEle = parent.querySelector("small");
      messageEle.style.visibility = "hidden";
      parent.classList.remove("error");
      parent.classList.add("success");
    }
    function onError(input, message) {
      let parent = input.parentElement;
      let messageEle = parent.querySelector("small");
      messageEle.style.visibility = "visible";
      messageEle.innerText = message;
      parent.classList.add("error");
      parent.classList.remove("success");


    }

    
    function resetcolor() {
      var color = "red";
      document.getElementById("msg").style.color = color;
      document.getElementById("inames").style.visibility = "hidden";
      document.getElementById("iinames").style.visibility = "hidden";
      document.getElementById("iiemail").style.visibility = "hidden";

      document.getElementById("iemail").style.visibility = "hidden";

      document.getElementById("iphone").style.visibility = "hidden";
      document.getElementById("iiphone").style.visibility = "hidden";


    }
    function reset(){
var vis = "hidden";

document.querySelector("small#asd1").style.visibility= vis;
document.querySelector("small#asd2").style.visibility= vis;

document.querySelector("small#asd3").style.visibility= vis;
// document.getElementById("msg").style.visibility = vis;
      document.querySelector("i#inames").style.visibility = vis;

      document.querySelector("i#iemail").style.visibility = vis;

     
      document.querySelector("i#iphone").style.visibility = vis;
      document.getElementById("form1").reset();

}
    function reset1(){
var vis = "hidden";
document.querySelector("small#asd11").style.visibility= vis;
document.querySelector("small#asd22").style.visibility= vis;

document.querySelector("small#asd33").style.visibility= vis;
document.querySelector("i#iinames").style.visibility = vis;

      document.querySelector("i#iiemail").style.visibility = vis;

     
      document.querySelector("i#iiphone").style.visibility = vis;
      
document.getElementById("form2").reset();
   
}
    function isValidName(name) {
      return /^[A-Za-z]+([\ A-Za-z]+)*$/.test(name);
    }

    function isValidNames(name) {
      return /^\w+( \w+)*$/.test(name);
    }


  </script>
</body>

</html>